<div class="section" [ngStyle]="{backgroundImage:'url(./assets/images/download.svg)'}">
    <a class="logo" href="/"><img alt="logo" src="./assets/images/loginpage/logo-dark.png"></a>
  <div class="container">
      <div class="login-back">
        <form class="ng-dirty ng-invalid ng-touched">
            <div _ngcontent-pni-c95="" trans="" class="header">Sign in to your account</div>
            <div _ngcontent-pni-c95="" class="input-container">
                <label >Email</label>
                <input _ngcontent-pni-c95="" type="email" formcontrolname="email" id="login-email" required="" class="ng-dirty ng-invalid ng-touched">
            </div>
            <div _ngcontent-pni-c95="" class="input-container">
                <label>Password</label>
                <!-- <a _ngcontent-kgx-c95="" tabindex="-1" trans="" class="forgot-password" href="/forgot-password">Forgot your password?</a> -->
                <input _ngcontent-pni-c95="" type="email" formcontrolname="email" id="login-email" required="" class="ng-dirty ng-invalid ng-touched">
            </div>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"><label  for="vehicle2"><b class="custom-label"> Stay signed in for a month</b></label><br>
            <button _ngcontent-kgx-c95="" mat-raised-button="" color="accent" type="submit" trans="" class="mat-focus-indicator primary-button mat-raised-button mat-button-base mat-accent"><span class="mat-button-wrapper">Continue</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div>
            </button>  
  
           <div class="icons">
            <a href="googleUrl" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" alt=""
                 matTooltip="Google+" matTooltipPosition="above">
            </a>
  
            <a href="googleUrl" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
                matTooltipPosition="above">
            </a>
            <a href="googleUrl" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
            </a>
           </div>
        </form>
      </div>
 </div>
 <div class="info-row">
    <span trans="">Don't have an account? </span> 
    <a trans=""  routerLink="/register" class="register-link">Sign in</a>
</div>
</div>