<section class="cutom-back-findsearch">
    <div class="conatiner">
        <div class="row">
            <div class="col-sm-2">
                <div class="custom-logo text-center">
               <h1>SL Project</h1>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="searchbar">
                  <form action="/action_page.php text-center">
                    <input type="text" placeholder="Search.." class="top_searchbar">    
                  </form>
                </div>
          </div>
          <div class="col-4">
          <div class="row">
              <div class="col-sm-1">
              <div class="icon-notify">
                  <span><i class="fa fa-bell"></i></span>
              </div>
          </div>
  
              <div class="col-4">
                  <div class="custom-p">
                      <p class="text-white">My ticktes</p>
                  </div>
                  
              </div>
              <div class="col-5">
              <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Deepak Yadav
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>      
          </div>
         </div>
        </div>
    </div>
</section>

<section class="section1">
    <div class="container">
        <div class="page-title text-center">
            <h1>Forum Summisiom</h1>
        </div><!-- end title -->
    </div><!-- end container -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="custom-module">
                        <!-- <h4 class="module-title"><i class="material-icons">lock</i></h4> -->

                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <form class="sidebar-login">
                                    <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Meaning"></div>
                                    <div class="form-group is-empty"><input type="email" class="form-control" placeholder="Synonym"></div>
                                    <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Antonyms"></div>
                                    <div class="file-upload-wrapper" data-text="Select your file!"><abbr class="file-title">Attach File Video</abbr><span class="wpcf7-form-control-wrap attachment-file"><input type="file" name="attachment-file" size="40" class="wpcf7-form-control wpcf7-file file-upload-field" accept=".gif,.png,.jpg,.jpeg,.pdf,.doc" aria-invalid="false"></span></div>
                                    <div class="file-upload-wrapper" data-text="Select your file!"><abbr class="file-title">Attach File Audio</abbr><span class="wpcf7-form-control-wrap attachment-file"><input type="file" name="attachment-file" size="40" class="wpcf7-form-control wpcf7-file file-upload-field" accept=".gif,.png,.jpg,.jpeg,.pdf,.doc" aria-invalid="false"></span></div>
                                    <div class="file-upload-wrapper" data-text="Select your file!"><abbr class="file-title">Attach File Image</abbr><span class="wpcf7-form-control-wrap attachment-file"><input type="file" name="attachment-file" size="40" class="wpcf7-form-control wpcf7-file file-upload-field" accept=".gif,.png,.jpg,.jpeg,.pdf,.doc" aria-invalid="false"></span></div>
                                    <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Message Here.."></div>
                                    <div class="text-center">
                                    <button type="button" class="btn btn-raised btn-info gr">Submit</button>
                                  </div>
                                </form> 

                            </div>
                        </div>
                    </div><!-- end custom-module -->
                </div><!-- end widget -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- footer-section -->
<section class="footer-back">
    <div class="container"><div class="text-center">
       <span trans="">Copyright © 2020, All Rights Reserved,</span>
    </div></div>
</section> 