<!-- top-heade-search  -->
<section class="cutom-back-findsearch">
  <div class="conatiner">
      <div class="row">
          <div class="col-sm-2">
              <div class="custom-logo text-center">
             <h1>SL Project</h1>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="searchbar">
               
                <form action="/action_page.php text-center">
                  <input type="text" placeholder="Search.." name="search" class="top_searchbar ">
                
                </form>
              </div>
        </div>
        <div class="col-4">
        <div class="row">
            <div class="col-sm-1">
            <div class="icon-notify">
                <span><i class="fa fa-bell"></i></span>
            </div>
        </div>

            <div class="col-4">
                <div class="custom-p">
                    <p class="text-white">My ticktes</p>
                </div>
                
            </div>
            <div class="col-5">
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Deepak Yadav
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>      
        </div>
    </div>
      </div>
  </div>
    
</section>
<!-- endof-section -->

<!-- middle-section-of-header -->
<section class="container main-content pt-5">
   <div class="row">
      <div class="col-md-9">
         <div class="tabs-warp question-tab">
            <div class="tab-inner-warp" style="display: block;">
               <div class="tab-inner">
                  <article class="question question-type-normal">
                     <h2>
                        <a href="single_question.html">Car</a>
                     </h2>
                     <a class="question-report" href="#">Report</a>
                     <div class="question-type-main"><i class="fa fa-question"></i>Question</div>
                     <div class="question-author">
                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="https://2code.info/demo/html/ask-me/images/demo/avatar.png"></a>
                     </div>
                        <div class="upvote-devote">
                        <ul class="question-vote">
                           <li class="fa fa-caret-up"><a href="#" id="question_vote_up-118" data-type="question" data-vote-type="up" class="wpqa_vote question_vote_up vote_allow" title="Like"><i class="icon-up-dir"></i></a></li>
                           <li class="vote_result" itemprop="upvoteCount">18</li>
                           <li class="li_loader"><span class="loader_3 fa-spin"></span></li>
                           <li class="fa fa-caret-down"><a href="#" id="question_vote_down-118" data-type="question" data-vote-type="down" class="wpqa_vote question_vote_down vote_allow" title="Dislike"><i class="icon-down-dir"></i></a></li>
                        </ul>
                        </div>
                     <div class="question-inner">
                        <div class="clearfix"></div>
                        <p class="question-desc"><b class="sample">Meaning:</b> <span><i> Duis dapibus aliquam mi, eget euismod sem scelerisque ut. </i></span></p>
                        <p class="question-desc"><b class="sample">Synonym:</b> <span><i> Duis dapibus aliquam mi, eget euismod sem scelerisque ut. </i></span></p>
                        <p class="question-desc1"><b class="sample">Antonyms:</b> <span><i> Duis dapibus aliquam mi, eget euismod sem scelerisque ut. </i></span></p>
                        <div class="question-details">
                           <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                           <span class="question-favorite"><i class="fa fa-star"></i>5</span>
                        </div>
                        <span class="question-category"><a href="#"><i class="icon-folder-close"></i>Car</a></span>
                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                        <span class="question-view"><i class="icon-user"></i>70 views</span>

                        <div class="ul">
                           <li>
                           <span class="format"><video width="" height="" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                           
                           </video></span>
                        </li>
                        <li>
                           <span class="format"><video width="" height="" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                           
                           </video></span>
                        </li>
                        <li>
                           <span class="format"><video width="" height="" controls>
                              <source src="movie.mp4" type="video/mp4">
                              <source src="movie.ogg" type="video/ogg">
                        
                           </video></span>
                        </li>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     
                  </article>
                  
                  <!-- <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a> -->
               </div>
            </div>
         
         </div>
         
      </div>
      <!-- End main -->
  
      <div class="sidebar col-md-3">
        

         <div class="widget clearfix">
             <div class="panel panel-primary">
                 <div class="panel-heading">
                     <h3 class="panel-title">Login Account</h3>
                 </div>
                 <div class="panel-body">
                     <form class="sidebar-login">
                         <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Username"></div>
                         <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Password"></div>
                         <div class="checkbox">
                             <label>
                                 <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> &nbsp;&nbsp;Remember me
                             </label>
                         </div>
                         <button type="button" class="btn btn-raised btn-info gr">Login</button>
                     </form> 
                 </div>
             </div>
         </div><!-- end widget -->
     </div><!-- end col -->
      <!-- End sidebar -->
   </div>
   <!-- End row -->
</section>
<section class="footer-back pt-5">
<div class="container"><div class="text-center">
   <span trans="">Copyright © 2020, All Rights Reserved,</span>
</div></div>
</section> 

  
  
  
