<section class="cutom-back-findsearch">
   <div class="conatiner">
       <div class="row">
           <div class="col-sm-2">
               <div class="custom-logo text-center">
              <h1>SL Project</h1>
             </div>
           </div>
           <div class="col-sm-6">
             <div class="searchbar">
                 <form action="/action_page.php text-center">
                   <input type="text" placeholder="Search.." class="top_searchbar">    
                 </form>
               </div>
         </div>
         <div class="col-4">
         <div class="row">
             <div class="col-sm-1">
             <div class="icon-notify">
                 <span><i class="fa fa-bell"></i></span>
             </div>
         </div>
 
             <div class="col-4">
                 <div class="custom-p">
                     <p class="text-white">My ticktes</p>
                 </div>
                 
             </div>
             <div class="col-5">
             <div class="btn-group">
                 <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Deepak Yadav
                 </button>
                 <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">Action</a>
                   <a class="dropdown-item" href="#">Another action</a>
                   <a class="dropdown-item" href="#">Something else here</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Separated link</a>
                 </div>
               </div>
             </div>      
         </div>
        </div>
       </div>
   </div>
</section>
<section class="section1">
   <div class="container">
       <div class="page-title text-center">
           <h1>Donate</h1>
           <!-- <ul class="breadcrumb1">
               <li><a href="javascript:void(0)">Blog</a></li>
               <li class="active">Topic</li>
           </ul> -->
       </div><!-- end title -->
   </div><!-- end container -->
</section>
<section class="section">
   <div class="container">
       <div class="row">
         <div class="col-md-4">
            <div class="widget">
              <div class="custom-module text-center">
                 <span clas="text-center">
                 <i class="material-icons">support</i>
                  <h4 class="module-title text-center"> monthly</h4>
                  <p class="text-center"> loerm insum genrator click comopnent set dummy text</p>
                </span>
                <div class="submit-button">
                   <a class="btn btn-raised btn-info gr text-white" href="#"><i class="material-icons"></i> Pay Now</a>
               </div>
                  
              </div><!-- end custom-module -->
          </div><!-- end widget -->
 
        </div>
           <div class="col-md-4">
            <div class="widget">
              <div class="custom-module text-center">
                 <span clas="text-center">
                 <i class="material-icons">support</i>
                  <h4 class="module-title text-center"> monthly</h4>
                  <p class="text-center"> loerm insum genrator click comopnent set dummy text</p>
                </span>
                <div class="submit-button">
                   <a class="btn btn-raised btn-info gr text-white" href="#"><i class="material-icons"></i> Pay Now</a>
               </div>
                  
              </div><!-- end custom-module -->
          </div><!-- end widget -->
 
        </div>
        <div class="col-md-4">
           <div class="widget">
             <div class="custom-module text-center">
                <span clas="text-center">
                <i class="material-icons">support</i>
                 <h4 class="module-title text-center"> monthly</h4>
                 <p class="text-center"> loerm insum genrator click comopnent set dummy text</p>
               </span>
               <div class="submit-button">
                  <a class="btn btn-raised btn-info gr text-white" href="#"><i class="material-icons"></i> Pay Now</a>
              </div>
                 
             </div><!-- end custom-module -->
         </div><!-- end widget -->

       </div>
       </div><!-- end row -->
   </div><!-- end container -->
</section>
<section class="footer-back ">
   <div class="container"><div class="text-center">
     <span trans="">Copyright © 2020, All Rights Reserved,</span>
    </div></div>
 </section>

