<section class="cutom-back-findsearch">
    <div class="conatiner">
        <div class="row">
            <div class="col-sm-2">
                <div class="custom-logo text-center">
               <h1>SL Project</h1>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="searchbar">
                  <form action="/action_page.php text-center">
                    <input type="text" placeholder="Search.." class="top_searchbar">    
                  </form>
                </div>
          </div>
          <div class="col-4">
          <div class="row">
              <div class="col-sm-1">
              <div class="icon-notify">
                  <span><i class="fa fa-bell"></i></span>
              </div>
          </div>
  
              <div class="col-4">
                  <div class="custom-p">
                      <p class="text-white">My ticktes</p>
                  </div>
                  
              </div>
              <div class="col-5">
              <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Deepak Yadav
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>      
          </div>
         </div>
        </div>
    </div>
</section>
<section class="section1">
    <div class="container">
        <div class="page-title text-center">
            <h1>Blogs</h1>
            <ul class="breadcrumb1">
                <li><a href="javascript:void(0)">Blog</a></li>
                <li class="active">Topic</li>
            </ul>
        </div><!-- end title -->
    </div><!-- end container -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="topic-page topic-list blog-list">
                    <article class="well clearfix">
                        <div class="topic-desc row clearfix">
                            <div class="col-sm-4">
                                <img src="./assets/images/blog_05.jpg" alt="" class="img-responsive img-thumbnail">
                            </div>
                            <div class="col-sm-8">
                                <h4><a href="single-topic.html" title="">We are In WorldCamp 2016 London! Join Us</a></h4>
                                <div class="blog-meta clearfix">
                                    <small>September 18, 2016</small>
                                    <small><a href="#">11 Comments</a></small>
                                    <small>in <a href="#"> Updates</a></small>
                                    <small>by <a href="#"> John Doe</a></small>
                                </div>
                                <p> Nunc ut ornare dui. Proin suscipit lacus eu nisl efficitur, eu rhoncus purus porttitor. Aliquam ut sapien et nisi ultricies molestie. Nam facilisis arcu quam, in placerat tellus tincidunt non. Nunc tincidunt bibendum volutpat.</p>
                                <a href="single-topic.html" class="readmore" title="">Continue reading →</a>
                            </div>
                        </div>
                        <!-- end tpic-desc -->

                        <footer class="topic-footer clearfix">
                            <div class="pull-left">
                                <ul class="list-inline tags">
                                    <li><a href="#">WorldCamp</a></li>
                                    <li><a href="#">Community</a></li>
                                </ul>
                                <!-- end tags -->
                            </div>

                            <div class="pull-right">
                                <div class="customshare">
                                    <div class="list">
                                        <div class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">share</i>
                                            <!-- <ul class="list-inline">
                                                <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- end topic -->
                    </article>
                    <!-- end article well -->

                    <article class="well clearfix">
                        <div class="topic-desc row clearfix">
                            <div class="col-sm-4">
                                <img src="./assets/images/blog_05.jpg" alt="" class="img-responsive img-thumbnail">
                            </div>
                            <div class="col-sm-8">
                                <h4><a href="single-topic.html" title=""> sl Version Coming Soon! Are you Excited?</a></h4>
                                <div class="blog-meta clearfix">
                                    <small>September 15, 2016</small>
                                    <small><a href="#">21 Comments</a></small>
                                    <small>in <a href="#"> Updates</a></small>
                                    <small>by <a href="#"> John Doe</a></small>
                                </div>
                                <p> Nunc ut ornare dui. Proin suscipit lacus eu nisl efficitur, eu rhoncus purus porttitor. Aliquam ut sapien et nisi ultricies molestie. Nam facilisis arcu quam, in placerat tellus tincidunt non. Nunc tincidunt bibendum volutpat.</p>
                                <a href="single-topic.html" class="readmore" title="">Continue reading →</a>
                            </div>
                        </div>
                        <!-- end tpic-desc -->

                        <footer class="topic-footer clearfix">
                            <div class="pull-left">
                                <ul class="list-inline tags">
                                    <li><a href="#">Theme Updates</a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                                <!-- end tags -->
                            </div>

                            <div class="pull-right">
                                <div class="customshare">
                                    <div class="list">
                                        <div class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">share</i>
                                            <!-- <ul class="list-inline">
                                                <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- end topic -->
                    </article>
                    <!-- end article well -->

                    <article class="well clearfix">
                        <div class="topic-desc row clearfix">
                            <div class="col-sm-4">
                                <img src="./assets/images/blog_05.jpg" alt="" class="img-responsive img-thumbnail">
                            </div>
                            <div class="col-sm-8">
                                <h4><a href="single-topic.html" title="">Complete All Your Social Media Profiles Like a Professional</a></h4>
                                <div class="blog-meta clearfix">
                                    <small>September 14, 2016</small>
                                    <small><a href="#">17 Comments</a></small>
                                    <small>in <a href="#"> Tips &amp; Tricks</a></small>
                                    <small>by <a href="#"> Jenny Doe</a></small>
                                </div>
                                <p> Nunc ut ornare dui. Proin suscipit lacus eu nisl efficitur, eu rhoncus purus porttitor. Aliquam ut sapien et nisi ultricies molestie. Nam facilisis arcu quam, in placerat tellus tincidunt non. Nunc tincidunt bibendum volutpat.</p>
                                <a href="single-topic.html" class="readmore" title="">Continue reading →</a>
                            </div>
                        </div>
                        <!-- end tpic-desc -->

                        <footer class="topic-footer clearfix">
                            <div class="pull-left">
                                <ul class="list-inline tags">
                                    <li><a href="#">SEO</a></li>
                                    <li><a href="#">Social Media</a></li>
                                    <li><a href="#">Google Plus</a></li>
                                </ul>
                                <!-- end tags -->
                            </div>

                            <div class="pull-right">
                                <div class="customshare">
                                    <div class="list">
                                        <div class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">share</i>
                                            <!-- <ul class="list-inline">
                                                <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- end topic -->
                    </article>
                    <!-- end article well -->

                    <article class="well clearfix">
                        <div class="topic-desc row clearfix">
                            <div class="col-sm-4">
                                <img src="./assets/images/blog_05.jpg" alt="" class="img-responsive img-thumbnail">
                            </div>
                            <div class="col-sm-8">
                                <h4><a href="single-topic.html" title="">Increase Your Business Value with Google Adwords</a></h4>
                                <div class="blog-meta clearfix">
                                    <small>September 13, 2016</small>
                                    <small><a href="#">4 Comments</a></small>
                                    <small>in <a href="#"> Tips &amp; Tricks</a></small>
                                    <small>by <a href="#"> Jenny Doe</a></small>
                                </div>
                                <p> Nunc ut ornare dui. Proin suscipit lacus eu nisl efficitur, eu rhoncus purus porttitor. Aliquam ut sapien et nisi ultricies molestie. Nam facilisis arcu quam, in placerat tellus tincidunt non. Nunc tincidunt bibendum volutpat.</p>
                                <a href="single-topic.html" class="readmore" title="">Continue reading →</a>
                            </div>
                        </div>
                        <!-- end tpic-desc -->

                        <footer class="topic-footer clearfix">
                            <div class="pull-left">
                                <ul class="list-inline tags">
                                    <li><a href="#">Google</a></li>
                                    <li><a href="#">Value</a></li>
                                    <li><a href="#">Adwords</a></li>
                                </ul>
                                <!-- end tags -->
                            </div>

                            <div class="pull-right">
                                <div class="customshare">
                                    <div class="list">
                                        <div class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">share</i>
                                            <!-- <ul class="list-inline">
                                                <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- end topic -->
                    </article>
                    <!-- end article well -->

                    <article class="well clearfix">
                        <div class="topic-desc row clearfix">
                            <div class="col-sm-4">
                                <img src="assets/images/blog_05.jpg" alt="" class="img-responsive img-thumbnail">
                            </div>
                            <div class="col-sm-8">
                                <h4><a href="single-topic.html" title="">How to Stop Wasting Time on Social Media and Start Dominating </a></h4>
                                <div class="blog-meta clearfix">
                                    <small>September 12, 2016</small>
                                    <small><a href="#">31 Comments</a></small>
                                    <small>in <a href="#"> Tips &amp; Tricks</a></small>
                                    <small>by <a href="#"> Jenny Doe</a></small>
                                </div>
                                <p> Nunc ut ornare dui. Proin suscipit lacus eu nisl efficitur, eu rhoncus purus porttitor. Aliquam ut sapien et nisi ultricies molestie. Nam facilisis arcu quam, in placerat tellus tincidunt non. Nunc tincidunt bibendum volutpat.</p>
                                <a href="single-topic.html" class="readmore" title="">Continue reading →</a>
                            </div>
                        </div>
                        <!-- end tpic-desc -->

                        <footer class="topic-footer clearfix">
                            <div class="pull-left">
                                <!-- <ul class="list-inline tags">
                                    <li><a href="#">Tips</a></li>
                                    <li><a href="#">Social</a></li>
                                    <li><a href="#">Facebook</a></li>
                                </ul> -->
                                <!-- end tags -->
                            </div>

                            <div class="pull-right">
                                <div class="customshare">
                                    <div class="list">
                                        <div class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">share</i>
                                            <!-- <ul class="list-inline">
                                                <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- end topic -->
                    </article>
                    <!-- end article well -->

                    <article class="well clearfix">
                        <ul class="pagination">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </article>
                </div><!-- end blog-list -->
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">list</i> Topic Categories</h4>

                        <ul class="categories">
                            <li><a href="#">Installation</a></li>
                            <li><a href="#">Customization</a>
                                <ul>
                                    <li><a href="#">Theme Customization</a></li>
                                    <li><a href="#">Menu &amp; Widget</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Tips % Tricks</a></li>
                            <li><a href="#">Theme Updates</a></li>
                            <li><a href="#">Changelog</a></li>
                        </ul><!-- end cats -->
                        <a href="#" class="readmore" title="">View all categories →</a>
                    </div><!-- end custom-module -->
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Latest Blogs</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group list-group-no-icon">
                                <div class="list-group-item">
                                    <div class="row-topic">
                                        <header class="topic-title clearfix">
                                            <h3><a href="#">Using font icons on this..</a></h3>
                                            <small>Item name: </small>
                                            <small>sl project</small>
                                        </header>
                                    </div>
                                </div>
                                <div class="list-group-separator"></div>
                                <div class="list-group-item">
                                    <div class="row-topic">
                                        <header class="topic-title clearfix">
                                            <h3><a href="#">Getting starting edit any HTM..</a></h3>
                                            <small>Item name: Milano</small>
                                            <small>sl project</small>
                                        </header>
                                    </div>
                                </div>
                                <div class="list-group-separator"></div>
                                <div class="list-group-item">
                                    <div class="row-topic">
                                        <header class="topic-title clearfix">
                                            <h3><a href="#">How to change color schemes..</a></h3>
                                            <small>Item name: </small>
                                            <small>sl project</small>
                                        </header>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end widget -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section>


