<div class="section" [ngStyle]="{backgroundImage:'url(./assets/images/download.svg)'}">
    <a class="logo" href="/"><img alt="logo" src="./assets/images/loginpage/logo-dark.png"></a>
  <div class="container">
      <div class="login-back">
        <form class="ng-dirty ng-invalid ng-touched">
            <div _ngcontent-xoq-c89="" trans="" class="page-header">Enter your email address below and we will send you a link to reset or create your password.</div>            <div _ngcontent-pni-c95="" class="input-container">
                <label >Email</label>
                <input _ngcontent-pni-c95="" type="email" formcontrolname="email" id="login-email" required="" class="ng-dirty ng-invalid ng-touched">
            </div>
            <button _ngcontent-kgx-c95="" mat-raised-button="" color="accent" type="submit" trans="" class="mat-focus-indicator primary-button mat-raised-button mat-button-base mat-accent"><span class="mat-button-wrapper">Continue</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div>
            </button> 
        </form> 
      </div>
      <div class="info-row">
        <span trans="">Don't have an account?</span> 
        <a trans=""  routerLink="/register" class="register-link">Sign up.</a>
    </div>
  </div>
</div>
